<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_location.title %>
</p>


<%= link_to 'Edit', edit_admin_location_path(@admin_location) %> |
<%= link_to 'Back', admin_locations_path %>
