 <table class="table1" width="85%">
          <tr><th colspan="2" class="tabTitle">Available Leaves upto 1st of current month</th></tr>
		  <tr><td>ELs:</td><td><%= @employee_m.processed_leave.els_count %></td></tr><tr><td>NELs:</td><td><%= @employee_m.processed_leave.nels_count %></td></tr><tr><td colspan="2"><em>Number of leaves applied/taken from 1st of current month: <%= @employee_m.count %> days.</em></td></tr></table>                </td>
            </tr>
        </table>
